<nav class="pagination">
  <% if @post.next.present? &&  @post.next != @post -%>
    <%= link_to 'Next', 
                refinery.blog_post_path(@post.next), 
                :class => 'next_page' %>
  <% else -%>
    <span class='next_page disabled'> Next </span>
  <% end %>


  <% if @post.prev.present? -%>
    <%= link_to 'Previous', 
                refinery.blog_post_path(@post.prev), 
                :class => 'previous_page' %>
  <% else -%>
      <span class='previous_page disabled'> Previous </span>
  <% end -%>
</nav>
