<h2>Recent</h2>
<% @posts.each do |post| %>
<section class='recent_details'>
  <time datetime="<%=l post.published_at.to_date, :format => :default %>" class='posted_at'>
    <%= l(post.published_at.to_date, :format => :short) %>
  </time>
  <%= content_tag(:h2, "#{post.title}", :class => "blog_title") %>
</section>

<% end %>

