<% if request.fullpath.include?('/about') %>
  <%= render :partial => "/refinery/inquiries/inquiries/form", :locals => {:inquiry => @inquiry} %>
<% end %>
<nav id = 'bottom_nav'>
  <div class = 'inner'>
    <div class = 'logo2'>
      <h1 class = 'logo-name'>
        <%= link_to Refinery::Core.site_name, refinery.root_path %>
      </h1>
    </div>
    <ul class = 'mini_menu'>
      <li><a href='/about'>About</a></li>
      <li><a href='/blog'>Blog</a></li>
      <li><a href='/careers'>Careers</a></li>
      <li><a href='/contact'>Contact</a></li>
    </ul>
  </div>
</nav>
<div id = 'legal'>
  <div class = 'inner'>
    <p>
      <%= t('.copyright', :year => Time.now.year,
                          :site_name => Refinery::Core.site_name) %>.
      All Rights Reserved.
    </p>
    <a href='/pages/privacy-policy'>Privacy Policy</a>
    <a href='/terms-of-service'>Terms of Service</a>
  </div>
</div>