<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class = 'color-band'>
  <div class = 'band blue'></div>
  <div class = 'band lime'></div>
  <div class = 'band red'></div>
  <div class = 'band plum'></div>
  <div class = 'band gold'></div>
  <div class = 'band blue'></div>
  <div class = 'band lime'></div>
  <div class = 'band red'></div>
  <div class = 'band plum'></div>
  <div class = 'band gold'></div>
  <div class = 'band blue'></div>
  <div class = 'band lime'></div>
  <div class = 'band red'></div>
  <div class = 'band plum'></div>
  <div class = 'band gold'></div>
</div>
<div class = 'logo'>
  <h1 id = 'logo' class = 'logo-name'>
    <%= link_to Refinery::Core.site_name, refinery.root_path %>
  </h1>
  <h2 class = 'logo-mantra'>handcrafted software<h2>
</div>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>