#about_nav
  @include row($m, $g)
  @extend %hard
  @media (min-width: $break)
    @include row($ml, $gl)
  .inner
    width                   : 100%
    margin                  : 0
    padding                 : 0
  .offering
    @include col(3, 1, $m, $g)
    margin:
      top                   : 0
      bottom                : 0
    @media (min-width: $break)
      @include col(3, 1, $ml, $gl)
      margin:
        top                 : 0
        bottom              : 0
    h1, h2
      font:
        weight              : 400
        size                : 12px
        size                : 1.2rem
      text:
        align               : center
      margin                : auto auto
      img
        display             : none
        height              : 0
      a
        color               : $soft
    @media (min-width: $iPhone_l)
      h1, h2
        font:
          size              : 18px
          size              : 1.8rem
    @media (min-width: $tablet_thin)
      h1, h2
        font:
          size              : 24px
          size              : 2.4rem
        img
          display           : block
          margin            : auto auto
          width             : 100px
          height            : 100px
          background:
            image           : url("bubble_sprite.png")
            size            : auto 200%
            position        : bottom center
            repeat          : no-repeat
  .strategy
    h1, h2
      width                 : 7.0em
    &:hover
      h2
        a
          color             : $gold
      @media (min-width: $tablet_thin)
        img
          background:
            position        : top left
    @media (min-width: $tablet_thin)
      img
        background:
          position          : bottom left
    &.active
      background:
        color               : $gold
      @media (min-width: $tablet_thin)
        h1
          a
            color           : $gold
        background:
          color             : $hard
        img
          background:
            position        : top left
  .design
    h1, h2
      width                 : 5.0em
    &:hover
      h2
        a
          color             : $lime
      @media (min-width: $tablet_thin)
        img
          background:
            position        : top center
    @media (min-width: $tablet_thin)
      img
        background:
          position          : bottom center
    &.active
      background:
        color               : $lime
      @media (min-width: $tablet_thin)
        h1
          a
            color           : $lime
        background:
          color             : $hard
        img
          background:
            position        : top center
  .development
    h1, h2
      width                 : 7.0em
    &:hover
      h2
        a
          color             : $red
      @media (min-width: $tablet_thin)
        img
          background:
            position        : top right
    @media (min-width: $tablet_thin)
      img
        background:
          position          : bottom right
    &.active
      background:
        color               : $red
      @media (min-width: $tablet_thin)
        h1
          a
            color           : $red
        background:
          color             : $hard
        img
          background:
            position        : top right