@import "colors"

%rough
  background          : image-url('background_invert.png') repeat

%smooth
  background          : white

%hard
  background          : $hard

%soft
  background          : $soft

%round
  -webkit-box-sizing    : border-box
  -moz-box-sizing       : border-box
  box-sizing            : border-box
  -webkit-border-radius : 50%
  -mox-border-radius    : 50%
  border-radius         : 50%