#body_content_left
  box-sizing              : border-box
  -webkit-box-sizing      : border-box
  -moz-box-sizing         : border-box
  margin:
    left                  : $g
    right                 : $g
  @media (min-width: $iPhone_l)
    float                 : left
    width                 : 7 * (100% - 3 * $g) / 10
    margin:
      left                : $g
      right               : 0
  @media (min-width: $break)
    width                 : 7 * (100% - 2 * $ml - $gl) / 10
    margin:
      left                : $ml
  .inner
    @include row(0, 0)
    margin:
      left                : 0
#body_content_right
  box-sizing              : border-box
  -webkit-box-sizing      : border-box
  -moz-box-sizing         : border-box
  display                 : none
  margin:
    left                  : $g
    right                 : 0
  @media (min-width: $iPhone_l)
    display               : block
    float                 : left
    width                 : 3 * (100% - 3 * $g) / 10
    margin:
      left                : $g
  @media (min-width: $break)
    width                 : 3 * (100% - 3 * $ml) / 10
    margin:
      left                : $gl
  .inner
    @include row(0, 0)
    margin:
      left                : 0
    h2
      color               : $grey
      background:
        image             : url('1bar.png')
        size              : 100% 5px
        repeat            : no-repeat
        position          : 5em 60%
      &.categories
        background:
          position        : 5.0em 60%
      &.tags
        background:
          position        : 2.4em 60%
      &.others
        background:
          position        : 5.5em 60%
      &.rss
        background:
          position        : 4.5em 60%
    a
      color               : $blue
    ul
      list-style-type     : none
    li
      margin:
        left              : 0
    #blog_archive_widget
      @include row(0, 0)
      h2
        background:
          position        : 4.0em 50%
    .recent_details
      @include row(0, 0)
      time
        @include col(4, 1, 0, 0)
      h3
        @include col(4, 3, 0, 0)
        font:
          size            : 10px
          size            : 1.0rem
        @media (min-width: $tablet_thin)
          font:
            size          : 15px
            size          : 1.5rem
        color             : $blue
        a
          color           : $blue

#show_blog_post
  @include col(1, 1, $m, $g)
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)

#comments
  @include col(1, 1, $m, $g)
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)

#blog_posts
  @include col(1, 1, 0, 0)
  .author
    display               : none
    @extend %soft
    @media (min-width: $iPad_p)
      @include col(7, 1, 0, 0)
      display               : block
      margin:
        top                 : 10px
        top                 : 1.0rem
      text:
        align               : center
      time
        color               : $grey
        font:
          size              : 15px
          size              : 1.5rem
        @media (min-width: 1195px)
          font:
            size            : 20px
            size            : 2.0rem
        @media (min-width: 1590px)
          font:
            size            : 25px
            size            : 2.5rem
      p
        color               : $blue
        border:
          top               : white 1px solid
          top               : white 0.1rem solid
  .blog_content
    @include col(1, 1, 0, 0)
    @media (min-width: $iPad_p)
      @include col(7, 6, 0, 0)
      padding:
        left                : 5%
    header
      a
        color               : $blue
    footer
      .filed_in
        @include col(2, 1, 0, 0)
      .tagged
        @include col(2, 1, 0, 0)
      .leave_comment
        @include col(1, 1, 0, 0)
        a
          color             : $blue

#comments
  img
    color                 : $blue
    font:
      family              : 'Titillium Web', sans-serif
      size                : 15px
      size                : 1.5rem
      weight              : 400

#tags
  a
    font:
      size                : 15px
      size                : 1.5rem
    margin:
      right               : 1.0em

#rss_feed_subscribe
  font:
    size                  : 15px
    size                  : 1.5rem

.pagination
  text:
    align                 : center
  font:
    size                  : 20px
    size                  : 2.0rem
  color                   : $grey
  a
    color                 : $blue