#body_content_left
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  .inner
    margin                : 0
    padding               : 0
    width                 : 100%

#body_content_right
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  .inner
    @include col(1, 1, $m, $g)
    @media (min-width: $break)
      @include col(1, 1, $ml, $gl)

#show_blog_post
  @include col(1, 1, $m, $g)
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)

#comments
  @include col(1, 1, $m, $g)
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)

#blog_posts
  @include col(1, 1, $m, $g)
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)
  h1
    @include col(1, 1, 0, 0)
  p
    @include col(1, 1, 0, 0)
    color                   : $grey
    line:
      height                : 1.5
    font:
      weight                : 300
      size                  : 20px
      size                  : 2.0rem
    @media (min-width: $tablet_thin)
      font:
        size                : 25px
        size                : 2.5rem
  li
    @include col(1, 1, 0, 0)
    color                   : $grey
    line:
      height                : 1.5
    font:
      weight                : 300
      size                  : 15px
      size                  : 1.5rem
    @media (min-width: $tablet_thin)
      font:
        size                : 20px
        size                : 2.0rem