#featured_projects
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  h1
    @include col(1, 1, $m, $g)
    @media (min-width: $break)
      @include col(1, 1, $ml, $gl)
    color                 : $grey
    font:
      weight              : 400
      size                : 20px
      size                : 2.0rem
    @media (min-width: $tablet_thin)
      font:
        weight            : 400
        size              : 30px
        size              : 3.0rem
  h2
    @include col(1, 1, 0, 0)
    color                 : $blue
    font:
      weight              : 400
      size                : 20px
      size                : 2.0rem
    @media (min-width: $tablet_thin)
      font:
        weight            : 400
        size              : 30px
        size              : 3.0rem
  h3
    @include col(1, 1, 0, 0)
    color                 : $grey
    font:
      weight              : 400
      size                : 15px
      size                : 1.5rem
    @media (min-width: $tablet_thin)
      font:
        weight            : 400
        size              : 20px
        size              : 2.0rem
  #project
    @include col(2, 1, $m, $g)
    @media (min-width: $break)
      @include col(3, 1, $ml, $gl)
    img
      width               : 100%
      height              : auto