#featured_blog_posts
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  @extend %soft
  h1
    @include col(1, 1, $m, $g)
    margin:
      top                 : 0
      bottom              : 0
    @media (min-width: $break)
      @include col(1, 1, $ml, $gl)
      margin:
        top               : 0
        bottom            : 0
    color                 : $blue
    text:
      transform           : uppercase
    font:
      weight              : 400
      size                : 20px
      size                : 2.0rem
    @media (min-width: $tablet_thin)
      font:
        weight            : 400
        size              : 30px
        size              : 3.0rem
  h2
    @include col(1, 1, $m, $g)
    margin:
      top                 : 0
      bottom              : 0
    line:
      height              : 1
    @media (min-width: $break)
      @include col(1, 1, $ml, $gl)
      margin:
        top               : 0
        bottom            : 0
    color                 : $blue
    font:
      weight              : 400
      size                : 15px
      size                : 1.5rem
    @media (min-width: $tablet_thin)
      font:
        weight            : 400
        size              : 25px
        size              : 2.5rem
    a
      color               : $blue
      font:
        weight            : 600
        size              : 10px
        size              : 1.0rem
      @media (min-width: $tablet_thin)
        font:
          weight          : 600
          size            : 15px
          size            : 1.5rem
  h3
    @include col(1, 1, $m, $g)
    margin:
      top                 : 0
      bottom              : 0
    @media (min-width: $break)
      @include col(1, 1, $ml, $gl)
      margin:
        top               : 0
        bottom            : 0
    color                 : $grey
    font:
      weight              : 400
      size                : 10px
      size                : 1.0rem
    @media (min-width: $tablet_thin)
      font:
        weight            : 400
        size              : 20px
        size              : 2.0rem
