@import "grid"
@import "colors"
@import "backgrounds"
@import "typography"
@import "margins"

#bottom_nav
  @include row($m, $g)
  @media (min-width: $tablet_thin)
    display           : block
    @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  .inner
    border:
      bottom          : solid $soft 1px

#legal
  @include row($m, $g)
  p
    @include col(1, 1, 0, 0)
    text:
      align           : center
    font:
      size            : 13px
      size            : 1.3rem
  a
    @include col(1, 1, 0, 0)
    text:
      align           : center
  @media (min-width: $tablet_thin)
    @include row($m, $g)
    p
      @include col(4, 2, 0, 0)
      color             : $grey
      text:
        align           : left
    a
      @include col(4, 1, 0, 0)
      text:
        align           : right
  @media (min-width: $break)
    @include row($ml, $gl)

.inner
  @include col(1, 1, $m, $g)
  margin:
    top               : 0
    bottom            : 0
  padding:
    top               : 1.0em
    bottom            : 1.0em
  @media (min-width: $tablet_thin)
    margin:
      top             : 0
      bottom          : 0
    padding:
      top             : 1.0em
      bottom          : 1.0em
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)
    margin:
      top             : 0
      bottom          : 0
    
.logo2
  background: 
    image             : url("logo.png")
    repeat            : no-repeat
    position          : top center
    size              : 66px auto
  height              : 30px
  height              : 3.0rem
  @include col(1, 1, 0, 0)
  @media (min-width: $tablet_thin)
    @include col(5, 3, 0, 0)
    background:
      position        : top left
  

.mini_menu
  @include col(5, 2, 0, 0)
  li
    @include col(4, 1, 0, 0)
    display           : inline-block
    list-style-type   : none
    text:
      transform       : uppercase
      align           : right
  @media (max-width: $tablet_thin - 1px)
    display           : none
  
