#body
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)

.inquiries
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  .info
    @include col(1, 1, $m, $g)
    margin:
      top                   : 0
      bottom                : 0
    @media (min-width: $tablet_thin)
      @include col(2, 1, $m, $g)
      margin:
        top                 : 0
        bottom              : 0
    @media (min-width: $break)
      @include col(2, 1, $ml, $gl)
      margin:
        top                 : 0
        bottom              : 0
  .message_field
    @include col(1, 1, $m, $g)
    margin:
      top                   : 0.666666em
      bottom                : 0.666666em
    @media (min-width: $tablet_thin)
      @include col(2, 1, $m, $g)
      margin:
        top                 : 0.333333em
        bottom              : 0.333333em
    @media (min-width: $break)
      @include col(2, 1, $ml, $gl)
      margin:
        top                 : 0.333333em
        bottom              : 0.333333em
    textarea
      padding:
        top                 : 0
        bottom              : 0
  #privacy_link
    display                 : block
    width                   : 10em
    text:
      align                 : center
    margin                  : auto auto

#new_comment
  @include col(1, 1, $m, $g)
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)
  .info
    @include col(1, 1, 0, 0)
    margin:
      top                   : 0
      bottom                : 0
    @media (min-width: $tablet_thin)
      @include col(2, 1, 0, 0)
      margin:
        top                 : 0
        bottom              : 0
      padding:
        right               : 1.0em
    @media (min-width: $break)
      @include col(2, 1, 0, 0)
      margin:
        top                 : 0
        bottom              : 0
      padding:
        right               : 1.0em
  .message_field
    @include col(1, 1, 0, 0)
    margin:
      top                   : 0.5em
      bottom                : 0.5em
    @media (min-width: $tablet_thin)
      @include col(2, 1, 0, 0)
      margin:
        top                 : 0.5em
        bottom              : 0.5em
      padding:
        left                : 1.0em
    @media (min-width: $break)
      @include col(2, 1, 0, 0)
      margin:
        top                 : 0.5em
        bottom              : 0.5em
      padding:
        left                : 1.0em
    textarea
      padding:
        top                 : 0.2em
      width                 : 100%
input
  background:
    color                 : $soft
  border                  : $grey 1px solid
  width                   : 100%
  margin:
    top                   : 0.5em
    bottom                : 0.5em
  &:focus
    -webkit-box-shadow    : 0 0 0.5rem $blue
    -moz-box-shadow       : 0 0 0.5rem $blue
    box-shadow            : 0 0 0.5rem $blue
  font:
    family                : 'Titillium Web', sans-serif
    size                  : 13px
    size                  : 1.3rem
    weight                : 300
  color                   : $grey
textarea
  background:
    color                 : $soft
  border                  : $grey 1px solid
  width                   : 100%
  font:
    family                : 'Titillium Web', sans-serif
    size                  : 13px
    size                  : 1.3rem
    weight                : 300
  color                   : $grey
  &:focus
    -webkit-box-shadow    : 0 0 0.5rem $blue
    -moz-box-shadow       : 0 0 0.5rem $blue
    box-shadow            : 0 0 0.5rem $blue
.actions
  @include col(1, 1, $m, $g)
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)
  input
    @extend %button
    display               : block
    width                 : 10em
    margin                : auto auto

