@import "grid"
@import "colors"
@import "backgrounds"
@import "typography"
@import "margins"

$break  : 945px //min-size trigger for layout change
$barbrk : 657px //min-size trigger for color bar expansion

#header
  @extend %rough
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)

.color-band
  margin-left         : -1 * $ml
  height              : 5px
  width               : 120%
  @media (min-width: $barbrk)
    width             : 120%
  overflow            : hidden
  .band
    height            : 5px
    width             : 57px
    @media (min-width: $barbrk)
      width           : 7.4%
    float             : left
  .blue
    background-color  : $blue
  .lime
    background-color  : $lime
  .red
    background-color  : $red
  .plum
    background-color  : $plum
  .gold
    background-color  : $gold

.logo
  @include col(1, 1, $m, $g)
  background: 
    image             : url("logo.png")
    repeat            : no-repeat
    position          : top center
    size              : 66px auto
  @media (min-width: $break)
    @include col(5, 1, $ml, $gl)
    background:
      image             : url("logo.png")
      repeat            : no-repeat
      position          : top left
      size              : 110px auto

.logo-name
  margin:
    bottom            : 0
  text-indent         : -9999px
  line-height         : 1em

.logo-mantra
  margin:
    top               : 0
  font:
    size              : 7px
    size              : 0.7rem
  color               : $grey
  text-align          : center
  @media (min-width: $break)
    margin:
      top             : 1.2em
    text-align        : left
    font:
      size            : 12px
      size            : 1.2rem

.menu
  @include col(1, 1, $m, $g)
  border:
    top               : solid lighten($grey, 40%) 1px
    bottom            : solid lighten($grey, 40%) 1px
  ul
    list-style-type   : none
  li
    @include col(5, 1, 0, 0)
    @extend .logo-mantra
    margin:
      top             : 0
      bottom          : 0
    padding:
      top             : 0.5em
      bottom          : 0.1em
    font:
      size            : 10px
      size            : 1.0rem
    text:
      transform       : uppercase
  .twitter
    display           : none
  .facebook
    display           : none
  @media (min-width: $break)
    @include col(5, 4, $ml, $gl)
    li
      @include col(12, 2, 0, 0)
      font:
        size            : 18px
        size            : 1.8rem
      text-align        : center
      line-height       : 1.7em
    .twitter
      @include col(12, 1, 0, 0)
      display           : inline
    .facebook
      @include col(12, 1, 0, 0)
      display           : inline
      


.selected
  border-bottom       : solid $grey 0.3em