@import "grid"
@import "colors"
@import "backgrounds"
@import "typography"
@import "margins"


#header
  @extend %rough
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)

.color-band
  margin-left         : -1 * $ml
  height              : 5px
  width               : 120%
  @media (min-width: $barbrk)
    width             : 120%
  overflow            : hidden
  .band
    height            : 5px
    width             : 57px
    @media (min-width: $barbrk)
      width           : 7.4%
    float             : left
  .blue
    background-color  : $blue
  .lime
    background-color  : $lime
  .red
    background-color  : $red
  .plum
    background-color  : $plum
  .gold
    background-color  : $gold

.logo
  @include col(1, 1, $m, $g)
  background: 
    image             : url("logo.png")
    repeat            : no-repeat
    position          : top center
    size              : 66px auto
  @media (min-width: $break)
    @include col(5, 1, $ml, $gl)
    background:
      image             : url("logo.png")
      repeat            : no-repeat
      position          : top left
      size              : 110px auto

.logo-name
  margin:
    bottom            : 0
  text-indent         : -9999px
  line-height         : 1em

.logo-mantra
  margin:
    top               : 0
  font:
    size              : 9px
    size              : 0.9rem
  color               : $grey
  text-align          : center
  @media (min-width: $break)
    margin:
      top             : 1.3em
    text-align        : left
    font:
      size            : 12px
      size            : 1.2rem

.menu
  @include col(1, 1, $m, $g)
  border:
    top               : solid lighten($grey, 40%) 1px
    bottom            : solid lighten($grey, 40%) 1px
  ul
    list-style-type   : none
  li
    @include col(5, 1, 0, 0)
    @extend .logo-mantra
    margin:
      top             : 0
      bottom          : 0
    padding:
      top             : 0.5em
      bottom          : 0.3em
    font:
      size            : 10px
      size            : 1.0rem
    text:
      transform       : uppercase
    &:hover
      padding:
        bottom        : 0em
      border:
        bottom        : solid $grey 0.3em
  .twitter
    display           : none
  .facebook
    display           : none
  @media (min-width: $break)
    @include col(5, 4, $ml, $gl)
    li
      @include col(12, 2, 0, 0)
      font:
        size            : 18px
        size            : 1.8rem
      text-align        : center
      line-height       : 1.7em
    .twitter
      @include col(12, 1, 0, 0)
      display           : inline
      text:
        indent          : -9999px
      background:
        image           : url('social_sprite.png')
        size            : 80% auto
        position        : 50% 65.8%
        repeat          : no-repeat
      &:hover
        border          : none
        padding:
          bottom        : 0.3em
        background:
          position      : 50% 97%
    .facebook
      @include col(12, 1, 0, 0)
      display           : inline
      text:
        indent          : -9999px
      background:
        image           : url('social_sprite.png')
        size            : 80% auto
        position        : 50% 3%
        repeat          : no-repeat
      &:hover
        border          : none
        padding:
          bottom        : 0.3em
        background:
          position      : 50% 34%