#projects
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  .inner
    margin                : 0
    padding               : 0
    width                 : 100%

#project
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  @extend %hard
  .inner
    margin                : 0
    padding               : 0
    width                 : 100%

#project_browse
  @include col(2, 1, $m, $g)
  @media (min-width: $break)
    @include col(3, 1, $ml, $gl)
  h1
    @include col(1, 1, 0, 0)
    color                   : $blue
  h2
    @include col(1, 1, 0, 0)
    color                   : $grey
  img
    width                   : 100%
    height                  : auto

#project_detail
  @include col(1, 1, $m, $g)
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)
  h1
    @include col(1, 1, 0, 0)
    color                   : $soft
    text:
      align                 : center
  h2
    @include col(1, 1, 0, 0)
    color                   : $red
    text:
      align                 : center
    font:
      weight                : 300
  h3
    @include col(1, 1, 0, 0)
    color                   : $soft
  p
    @include col(1, 1, 0, 0)
    color                   : $soft
    font:
      weight                : 300
      size                  : 10px
      size                  : 1.0rem
    @media (min-width: $tablet_thin)
      font:
        weight              : 300
        size                : 20px
        size                : 2.0rem
  img
    width                   : 50%
    height                  : auto
    margin:
      left                  : 25%

