#projects
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  .inner
    margin                : 0
    padding               : 0
    width                 : 100%

#project
  @include row($m, $g)
  @media (min-width: $break)
    @include row($ml, $gl)
  @extend %hard
  .inner
    margin                : 0
    padding               : 0
    width                 : 100%

#project_browse
  @include col(2, 1, $m, $g)
  @media (min-width: $break)
    @include col(3, 1, $ml, $gl)
  h1
    @include col(1, 1, 0, 0)
    color                   : $blue
  h2
    @include col(1, 1, 0, 0)
    color                   : $grey
  img
    width                   : 100%
    height                  : auto

#project_detail
  @include col(1, 1, $m, $g)
  @media (min-width: $break)
    @include col(1, 1, $ml, $gl)
  h1
    @include col(1, 1, 0, 0)
    color                   : $soft
    text:
      align                 : center
  h2
    @include col(1, 1, 0, 0)
    color                   : $red
    text:
      align                 : center
    font:
      weight                : 300
  h3
    @include col(1, 1, 0, 0)
    color                   : $soft
  p
    @include col(1, 1, 0, 0)
    color                   : $soft
  img
    width                   : 50%
    height                  : auto
    margin:
      left                  : 25%

#callto_action
  @include row($m, $g)
  background:
    image             : url('3bar.png')
    color             : $hard
    repeat            : no-repeat
    size              : 100% 17px
    position          : left 77%
  @media (min-width: $break)
    @include row($ml, $gl)
  h2
    color                 : $soft
    margin                : auto auto
    text:
      align               : center
    background:
      color               : $hard
    @media (min-width: $iPad_p)
      width               : 11em
      float               : left
      margin:
        left              : 35%
  a
    @extend %button
    display               : block
    width                 : 10em
    text:
      align               : center
    margin                : auto auto
    @media (min-width: $iPad_p)
      position            : absolute
      bottom              : 1.0em
      right               : 0