@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600)

h1
  font:
    family            : 'Titillium Web', sans-serif
    weight            : 600
    size              : 20px
    size              : 2.0rem
  color               : $blue
  @media (min-width: $tablet_thin)
    font:
      size            : 30px
      size            : 3.0rem


h2
  font:
    family            : 'Titillium Web', sans-serif
    weight            : 400

h3
  font:
    family            : 'Titillium Web', sans-serif
    weight            : 400

p
  font:
    family            : 'Titillium Web', sans-serif
    weight            : 300
    size              : 14px
    size              : 1.4rem
  line:
    height            : 1.8

a
  text:
    decoration        : none
  font:
    family            : 'Titillium Web', sans-serif
    weight            : 400
  color               : $grey
  &:hover
    text:
      decoration      : none

li
  font:
    family            : 'Titillium Web', sans-serif
    weight            : 300
  line:
    height            : 1.3
  margin:
    left              : 1.5em

ul
  margin:
    top               : 0.5em
    bottom            : 0.5em

ol
  margin:
    top               : 0.5em
    bottom            : 0.5em

time
  font:
    family            : 'Titillium Web', sans-serif
    weight            : 300